/* General Layout */
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
    color: #555;
}

body.dark-mode{
    background-color: #212529;
    color: #f9f9f9;
}

body.dark-mode * {
    color: #f9f9f9 !important;
}

body.dark-mode #about{
    background-color: #1d2125;
    color: #f9f9f9;
}

body.dark-mode #about math {
    border-color: #e9ecef;
}

body.dark-mode .menu-buttons a:hover{
    color: black !important;
}

body.dark-mode .filter-btn.active {
    color: #007bff !important;
}

body.dark-mode .filter-btn:hover {
    color: #007bff !important;
}

body.dark-mode .overlay h5{
    color: black !important;
}

body.dark-mode .overlay p{
    color: #212529 !important;
}

body.dark-mode #contact-info-container {
    background-color: #1d2125;
}

body.dark-mode .contact-info .image-wrapper {
    background-color: #212529;
}

body.dark-mode .contact-info .image-wrapper:hover {
    background-color: #007bff;
}

body.dark-mode #contact-form {
    background-color: #1d2125;
}

body.dark-mode #contact-form input {
    background-color: #212529;
    border-color: #2c2c2e;
    color: white;
}

body.dark-mode #contact-form textarea {
    background-color: #212529;
    border-color: #2c2c2e;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    color: #212529;
}

/* Header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 999;
}

.header-name h2{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.menu-buttons a {
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 2px solid black;
    border-width: 80%;
}

.menu-buttons a:hover {
    border-bottom: 2px solid white;
    color: white;
}

/* Hamburger Menu */
.menu-icon {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.menu-icon::after{
    content: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 20px;
    background-color: black;
    list-style: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    display: block;
    font-weight: bold;
}

.dropdown-menu li a:hover {
    background-color: white;
    color: black;
}

/* Jumbotron */
#jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(60deg, #131416, #2c2e30, #3b3b3b, #3f3f3f, #2c2e30, #131416);
    background-size: 300% 300%;
    animation: gray-gradient-animation 10s ease-in-out infinite;
}

@keyframes gray-gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*#jumbotron-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}*/

.image-text {
    font-size: 54px;
    font-weight: bold;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px -5px 5px rgba(0, 0, 0, 0.36);
}

/* About Section Styling */

#about {
    background: #f9f9f9;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about img {
    max-width: 150px;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#about ul {
    text-align: left;
    font-size: 16px;
    color: #555;
}

#about ul p {
    margin: 5px 0;
}

#about h2, #about h3 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}

#about h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #007bff;
    margin: 0;
    margin-top: 10px;
}

#about p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

/* Progress Bars */
.progress {
    height: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.progress-bar {
    height: 10px;
    transition: width 0.4s ease;
    width: 100%;
}

#about .progress-bar.bg-primary {
    background-color: #007bff;
}

#about .d-flex {
    display: flex;
    flex-wrap: wrap;
}

#about .d-flex img {
    margin-right: 15px;
}

#about math {
    border: 1px solid #333;
    border-radius: 20px;
    max-width: 200px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Adjustments */

@media (max-width: 768px) {
    #about .row {
        flex-direction: column;
    }

    #about .col-md-6 {
        max-width: 100%;
        margin-bottom: 20px;
        text-align: left;
    }

    #about ul {
        display: inline-block;
        text-align: left;
    }

    #about img {
        margin-bottom: 20px;
    }

    #about .d-flex {
        flex-direction: column;
        align-items: left;
    }

    .progress{
        width: 100%;
    }
}

@media (max-width: 768px) {
    #about .row {
        text-align: left;
    }

    #about .col-lg-4 {
        margin-bottom: 20px;
    }
}

/* Resume Section Styling */

#resume h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 2rem;
}

#resume h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #007bff;
    margin: 0 auto;
    margin-top: 10px;
}

#resume h3{
    font-weight: 700;
    font-size: 24px;
    position: relative;
    margin-left: 40px;
}

#info{
    text-transform: uppercase;
    font-size: 18px;
    color: #555;
}

#after-h2{
    text-align: center;
    margin-bottom: 40px;
}

#resume li{
    margin-top: 5px;
}

#resume strong{
    color: #212529;
}

#timeline {
    position: relative;
    padding-left: 40px;
  }

/* Vertical line */
#timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 57px;
    width: 2px;
    height: calc(100% - 15px);
    background-color: #007bff;
}


.timeline-item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 30px;
}

/* Circle indicator */
.timeline-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 11px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #resume .row {
        flex-direction: column;
    }

    #resume .col-md-6{
        max-width: 100%;
        margin-bottom: 20px;
        text-align: left;
    }
}

/* Portfolio Section Styling */

#portfolio h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 2rem;
}

#portfolio h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #007bff;
    margin: 0 auto;
    margin-top: 10px;
}

#portfolio .col-lg-4,
#portfolio .col-md-6,
#portfolio .col-sm-12 {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#portfolio img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    display: block;
    width: 95%;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

#portfolio .overlay {
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    padding: 10px 20px;
    text-align: left;
    border-radius: 2px;
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
    margin: 10px;
}

#portfolio .col-lg-4:hover .overlay,
#portfolio .col-md-6:hover .overlay,
#portfolio .col-sm-12:hover .overlay {
    opacity: 1;
}

#portfolio .overlay h5 {
    margin: 0;
    font-size: 16px;
    color: black;
}

#portfolio .overlay p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #555;
}

/* Filtering Images Portfolio */

.menu-buttons-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn {
    margin: 0 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

@media (max-width: 400px) {
    .filter-btn {
        margin: 0;
        padding: -2%;
    }
}

.filter-btn.active {
    color: #007bff;
}

.filter-btn:hover {
    background-color: transparent;
    color: #007bff;
}

.hidden {
    display: none !important;
}

/* Contact Section Styling */

#contact-section h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 2rem;
}

#contact-section h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #007bff;
    margin: 0 auto;
    margin-top: 10px;
}

#contact-info-container{
    background: #f9f9f9;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-info-row {
    display: flex;
    justify-content: flex-start;
}

.contact-info {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

@media (max-width: 768px) {
    .contact-info {
        margin-bottom: 20px;
        margin-left: -10px;
    }
}

.contact-info-text {
    margin-top: 9px;
}

.contact-info .image-wrapper {
    width: 60px;
    height: 60px;
    border: 1px solid #007bff;
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
    flex-shrink: 0;
}

.contact-info .image-wrapper:hover {
    background-color: #007bff;
}

.contact-info .image-wrapper img {
    width: 30px;
    height: 30px;
    transition: filter 0.5s ease-in-out;
}

.contact-info .image-wrapper:hover img {
    filter: brightness(0) invert(1);
}

.contact-info h4 {
    margin: 0 0 5px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

/* Contact Form Styling */

#contact-form {
    background: #f9f9f9;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

#contact-form button {
    background-color: #007bff;
    color: white;
    width: fit-content;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

#contact-form button:hover {
    background-color: #3194ff;
}

#contact-form .button-wrapper {
    text-align: center;
}

/* Footer */

footer {
    position: relative;
    text-align: center;
    padding: 40px;
    background-color: #007bff;
    width: 100%;
    height: auto; /* Make height flexible to fit content */
    display: flex;
    flex-direction: column; /* Ensure the footer contents stack vertically */
    align-items: center;
}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Icons row: ensure icons stay side-by-side */
#footer-content .row:first-child {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

#footer-content .col-sm-4 {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-content .row img {
    max-width: 50px;
    height: auto;
}

@media (max-width: 600px) {
    #footer-content .row img {
        max-width: 40px;
    }
}

/* Footer text styles */
footer p {
    color: #f9f9f9;
    font-size: 18px;
    margin: 0;
    align-self: center;
    text-align: center;
}

/* Clock styles */
#Clock_Display {
    color: #e9ecef;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

/* Scroll-to-top button */
.scroll-to-top {
    z-index: 99;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #555;
    transform: scale(1.1);
}

